/* untappd css */
.untappd-thepub ul{padding:0; margin:0;}
.untappd-thepub ul li{list-style:none;border-bottom:1px dotted #333; margin:0px 0px 20px 0px;}
.untappd-thepub ul li p{margin:0px; padding:0px;}
.untappd-thepub ul li img{width:80px; height:80px; overflow:none;}
.thepub-user{}
.thepub-avatar{}




